<div class="container">
  <div class="user-details">
    <h3> My Expertise </h3>
    <p> {{site.user_description}} </p>
  </div>

  <div id="experiences" class="row">
    <!--<iframe src='https://embed.coggle.it/diagram/WPGupJVczAABS4az/919939d8334242dea0ee350aa57d76f8a630e6f80475cfba94408f0114c7f9b7' frameborder='0' allowfullscreen></iframe>-->
    <a href="https://goo.gl/wQ0lpT">
      <img src="/assets/img/experience.png" alt="My experiences" title="Click me!">
    </a>
    <!--<i>Click this image!</i>-->
  </div>

  <div id="cv-link-second" class="row">
    <h4>More details in CV (<a href="/cv.ru">Ru</a> or <a href="/cv.en">En</a>)</h4>
  </div>
</div>
