/*Add responsble size to coggle frame*/
html
{
  overflow-x: hidden;
}

#experiences img
{
  max-height: 100%;
  max-width: 100%;
}


#cv-link-second
{
  text-align: center;
}

/*TODO we can scroll it so far. We must limit scrolling*/